<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title></title>
</head>
<body>

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>-->


<div id="divLoading" ><input id="file" type="file" name="files[]" multiple />asdsadsa</div>



<!--<script src='<%=  Url.Content("~/PlgIn/jquery.fileupload.js")%>'></script>
<script src='<%=  Url.Content("~/PlgIn/jquery.fileupload-ui.js")%>'></script>-->
<!--<script src='<%=  Url.Content("~/PlgIn/application.js")%>'></script>-->



</body>
</html>
